@import url('./_common.css');

.text-primary {color: var(--clr-primary);}
/* buttons */
.following-btn-txt {margin-block: 20px;}
.btn-group {display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;gap: 20px;}
.btn {padding: 0.75em 2.5em;color: white;text-decoration: none;display: block;margin: 0.5em 0;border-radius: 0.35em;max-width: 280px;width: 100%;margin: 0 auto;}
.btn-primary {background: var(--clr-primary);}
.btn-primary:hover,.btn-primary:focus {background: var(--clr-primary-dark);}
.btn-accent {background: var(--clr-accent);}
.btn-accent:hover,.btn-accent:focus {background: var(--clr-accent-dark);}
/* navigation */
header {display: flex;justify-content: space-between;flex-direction: column;padding: 10px;position: sticky;top: 0;background-color: var(--clf-bg-primary);}
.logo {font-family: var(--ff-betterfly);text-align: center;}
.logo:hover {color: var(--clr-primary);}
nav ul {display: flex;list-style: none;margin: 0;padding: 0;justify-content: space-around;}
nav li {padding: 0.5em;}
nav a {display: inline-block;color: var(--clr-primary);text-decoration: none;position: relative;}
nav a:hover,nav a:focus {color: var(--clr-accent);}
nav a::before{content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background-color: var(--clr-accent);transform: scaleX(0);transform-origin: left center;transition: transform 0.3s ease-in-out;}
nav a:hover::before,.footer-nav li a:hover::before  {transform: scaleX(1);}
.hero {background-color: #555;background-image: url(../images/hero-bg.jpg);background-blend-mode: multiply;background-attachment: fixed;background-size: cover;color: white;text-align: center;padding: 15vh 1em;}
.hero-title {font-size: 35px;line-height: 45px;}
.intro .section-title {font-size: 38px;line-height: 40px;}
.product-showcase .section-title {font-size: 38px;line-height: 40px;margin: 0 0 10px 0;}
.products {display: flex;flex-direction: column;max-width: 30rem;margin: 0 auto 30px;gap: 30px;}
/* Footer start */
footer {background: var(--clr-accent-dark);padding: 2em 1em;color: white;display: grid;grid-template-columns: repeat(2,1fr);gap: 3em;}
.footer-nav {display: flex;justify-content: flex-start;flex-direction: column;text-align: start;}
footer a {color: inherit;}
.footer-nav,.footer-social {list-style: none;margin: 0;padding: 0;}
.footer-nav li {padding: 10px;}
.footer-nav li a {position: relative;text-decoration: none;}
.footer-nav li a::before {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background-color: var(--clf-bg-primary);transform: scaleX(0);transform-origin: left center;transition: transform 0.3s ease-in-out;}
.footer-social {display: flex;justify-content: flex-end;gap: 20px;}
.social-link {display: inline-block;margin-bottom: 5px;}
.social-icon {width: 30px;}
.copy-right {grid-column: 1/-1; grid-row: 2;}
/* Footer End */

@media screen and (min-width: 552px) {
  header {flex-direction: row;padding: 20px;align-items: center;}
  .product-showcase .section-title {font-size: 70px;line-height: 80px;margin: 0px 0 20px 0;}
  .products {max-width: 500px;width: 100%;}
  .btn-group {margin-top: 1em;flex-direction: row;max-width: 100%;gap: 20px;}
  .btn-group a {flex: 1;}
  .footer-nav {display: flex;justify-content: space-around;flex-direction: row;}
  .copy-right {text-align: end;}
  .intro .section-title {font-size: 75px;line-height: 85px; }
}

/* Homepage styles */
.about-us {background: var(--clr-accent);display: flex;flex-direction: column;color: var(--clf-bg-primary);padding: 0;}
.about-us-intro {background-image: url(../images/granola-bg.jpg);background-size: cover;padding: 3em 1em 1.5em;}
.about-us-body {padding: 1.5em 1em 3em;}
.order-online {background: #f0f0f0;}
.product {border-radius: 1em;overflow: hidden;box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);}
.product:last-of-type {margin-bottom: 2em;}
.product-content {padding: 1.5em;}
.product-title {color: var(--clr-primary);font-size: 2.5rem;margin-bottom: 0.5em;}
.order-online .section-title {color: var(--clr-accent-dark);margin:0 0 10px 0;}
.fineprint {font-size: 0.75rem;color: rgba(0, 0, 0, 0.85);}

@media only screen and (min-width: 750px) {
  section {padding: 6em 1em;}
  .btn + .btn {margin-left: 0.5em;}
  .about-us {flex-direction: row;}
  .about-us-intro,.about-us-body {flex: 0 1 50%;display: flex;flex-direction: column;padding: 4em 2em;justify-content: center;}
  .about-us-intro {text-align: right;}
  .about-us-intro > * {max-width: 27rem;margin-left: auto;}
  .about-us-body {text-align: left;}
  .about-us-body > * {max-width: 27rem;margin-right: auto;}
  .order-online > *:not(.btn-group) {max-width: 70ch;margin-left: auto;margin-right: auto;}
  .btn-group {max-width: 1000px;width: 100%;margin: 0 auto;}
  .order-online {display: grid;}
  .products {flex-direction: row;max-width: 1200px;padding: 0;gap: 0;}
  .product-content {padding: 10px;}
  .product-content p{font-size: 20px;line-height: 25px;}
  .product {margin: 0;flex: 0 1 33%;}
  .product + .product {margin-left: 1em;}
  .product:last-of-type {margin-bottom: 0;}
  .product-showcase .section-title,.order-online .section-title {margin: 0 auto 25px;}
}
@media only screen and (min-width: 992px) {
  .product-content {padding: 20px;}
}